/**
 *
 * Float
 *
 * @author Takuto Yanagida
 * @version 2021-11-17
 *
 */


@use 'utility';


@mixin custom-property {
	// left, right, center
	--nc-float-block-margin: 1rem;

	// left, right
	--nc-float-inline-margin-min: 1rem;
	--nc-float-inline-margin-max: 2rem;
	--nc-float-inline-margin-bp : 36rem;

	--nc-float-inline-margin: #{utility.bp(var(--nc-float-inline-margin-min), var(--nc-float-inline-margin-max), var(--nc-float-inline-margin-bp))};
	--nc-float-offset       : 0.25rem;
}

@mixin side {  // left, right
	margin-block: 0 var(--nc-float-block-margin);
	transform   : translateY(var(--nc-float-offset));
}

@mixin left {
	float        : left;
	margin-inline: auto var(--nc-float-inline-margin);
}

@mixin right {
	float        : right;
	margin-inline: var(--nc-float-inline-margin) auto;
}

@mixin center {
	display: grid;
	width  : fit-content;

	clear        : both;
	margin-block : var(--nc-float-block-margin);
	margin-inline: auto;
}
