/**
 *
 * Alignment Classes (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-10-28
 *
 */


@mixin alignment-main {
	.alignleft,
	.alignright {
		--float-block-margin : 1rem;
		--float-inline-margin: clamp(1rem, calc((1vw - 6px) * 16/*1rem*/), 2rem);
		--float-offset       : 0.25rem;

		margin-bottom: var(--float-block-margin);
		transform    : translateY(var(--float-offset));
	}
	.alignleft {
		float       : left;
		margin-right: var(--float-inline-margin);
	}
	.alignright {
		float      : right;
		margin-left: var(--float-inline-margin);
	}
	.aligncenter {
		display    : grid;
		place-items: center;
		margin     : var(--float-block-margin) auto;
		clear      : both;
	}
}
