/**
 *
 * Alignment Classes - Wide (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-10-28
 *
 */


@mixin alignment-wide() {
	.alignfull {
		margin-inline: calc(50% - 50vw);
		width        : 100vw;
		max-width    : initial;
	}

	.alignwide {
		--wide-width: 72rem;

		margin-inline: calc((min(100vw, var(--wide-width)) - 100%) / -2);
		width        : 100vw;
		max-width    : var(--wide-width);
	}
}
